doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=`, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Solving mega menu challenge
        link(rel="stylesheet", href="style.css")
    body
        .mega_menu
            each menu,key in data.menu
                li
                    a.mega_menu__top-link(href=`/${menu.id}`)=menu.label
                    .mega_menu__drop-down
                        
                        h3=menu.secondMenuTitle
                        ul 
                            each menu2 in menu.secondMenuItemList
                                li  
                                    
                                    span=menu2.label